{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles1.css' %}">
   
    <title>Coriolis Library Management System</title>
</head>
<body background="{% static 'hom.png' %}">

        <div class="google-parent">
            <div class="google" >
                <div class="titletext">Coriolis Library Management System</div>
                <a class="link_google" href="{% url 'social:begin' 'google-oauth2' %}"> <div class="linkk"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google! </div></a>            
          </div>
        </div>
        
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
</body>
</html>
