{% load static %}
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
 
    
}
html{
  height: 100%;
  
}
body{
   
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    
}
section{
    
    text-align: center;
    font-size: 1.5vw;
}
.google{
    
    width:45%;
    text-align: center;
    box-shadow:2px 2px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3vw;
    background-color:white;
    flex-shrink: 1;
}



.alert {
    background-color: darkseagreen;
    margin-top: 10px;
    
    font-family: sans-serif;
}
.flash-message{
    margin-bottom:10px;
}



.titletext{
    font-size:3vw;
    text-align: center;
    
    display: inline-block;
    color:#666460;
}

.linkk{
    
    
    border: 3px solid #666460;
    font-size: 2vw;
    
    padding:1%;
    position: relative;
    bottom:0.5em;
    border-radius: 2vw;
    text-align: center;
    margin-left: 10%;
    margin-right:10%;
    margin-top:5%;
  
    
}
.link_google{
    text-decoration: none;
}
.link_google:hover{
    
    text-decoration: none ;
    color: #ffffff;
    
}
.linkk:hover{
    background-color: #003581;
}


.google-parent{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 460px)
{
    .google-parent{
        width: 90%;
    }
}
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;

  
.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}

.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
}
.card-header{
    height: 4vw;
} 
.search-listing {
    float: right;
    
    width: 34vw;
}